---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562617388'
      Etag:
      - W/"6dfba5afa20ba10b40ce83ee0534de11"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Patrick-Duvall","id":35322570,"node_id":"MDQ6VXNlcjM1MzIyNTcw","avatar_url":"https://avatars1.githubusercontent.com/u/35322570?v=4","gravatar_id":"","url":"https://api.github.com/users/Patrick-Duvall","html_url":"https://github.com/Patrick-Duvall","followers_url":"https://api.github.com/users/Patrick-Duvall/followers","following_url":"https://api.github.com/users/Patrick-Duvall/following{/other_user}","gists_url":"https://api.github.com/users/Patrick-Duvall/gists{/gist_id}","starred_url":"https://api.github.com/users/Patrick-Duvall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Patrick-Duvall/subscriptions","organizations_url":"https://api.github.com/users/Patrick-Duvall/orgs","repos_url":"https://api.github.com/users/Patrick-Duvall/repos","events_url":"https://api.github.com/users/Patrick-Duvall/events{/privacy}","received_events_url":"https://api.github.com/users/Patrick-Duvall/received_events","type":"User","site_admin":false},{"login":"tnodland","id":42710030,"node_id":"MDQ6VXNlcjQyNzEwMDMw","avatar_url":"https://avatars2.githubusercontent.com/u/42710030?v=4","gravatar_id":"","url":"https://api.github.com/users/tnodland","html_url":"https://github.com/tnodland","followers_url":"https://api.github.com/users/tnodland/followers","following_url":"https://api.github.com/users/tnodland/following{/other_user}","gists_url":"https://api.github.com/users/tnodland/gists{/gist_id}","starred_url":"https://api.github.com/users/tnodland/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tnodland/subscriptions","organizations_url":"https://api.github.com/users/tnodland/orgs","repos_url":"https://api.github.com/users/tnodland/repos","events_url":"https://api.github.com/users/tnodland/events{/privacy}","received_events_url":"https://api.github.com/users/tnodland/received_events","type":"User","site_admin":false}]'
  recorded_at: Mon, 08 Jul 2019 19:23:09 GMT
recorded_with: VCR 4.0.0
