---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1562175822'
      Etag:
      - W/"379f8994a8cf297ece205162d85423f2"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":194946420,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ5NDY0MjA=","name":"test-repo-1","full_name":"test-freind/test-repo-1","private":false,"owner":{"login":"test-freind","id":50720946,"node_id":"MDQ6VXNlcjUwNzIwOTQ2","avatar_url":"https://avatars2.githubusercontent.com/u/50720946?v=4","gravatar_id":"","url":"https://api.github.com/users/test-freind","html_url":"https://github.com/test-freind","followers_url":"https://api.github.com/users/test-freind/followers","following_url":"https://api.github.com/users/test-freind/following{/other_user}","gists_url":"https://api.github.com/users/test-freind/gists{/gist_id}","starred_url":"https://api.github.com/users/test-freind/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-freind/subscriptions","organizations_url":"https://api.github.com/users/test-freind/orgs","repos_url":"https://api.github.com/users/test-freind/repos","events_url":"https://api.github.com/users/test-freind/events{/privacy}","received_events_url":"https://api.github.com/users/test-freind/received_events","type":"User","site_admin":false},"html_url":"https://github.com/test-freind/test-repo-1","description":null,"fork":false,"url":"https://api.github.com/repos/test-freind/test-repo-1","forks_url":"https://api.github.com/repos/test-freind/test-repo-1/forks","keys_url":"https://api.github.com/repos/test-freind/test-repo-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-freind/test-repo-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-freind/test-repo-1/teams","hooks_url":"https://api.github.com/repos/test-freind/test-repo-1/hooks","issue_events_url":"https://api.github.com/repos/test-freind/test-repo-1/issues/events{/number}","events_url":"https://api.github.com/repos/test-freind/test-repo-1/events","assignees_url":"https://api.github.com/repos/test-freind/test-repo-1/assignees{/user}","branches_url":"https://api.github.com/repos/test-freind/test-repo-1/branches{/branch}","tags_url":"https://api.github.com/repos/test-freind/test-repo-1/tags","blobs_url":"https://api.github.com/repos/test-freind/test-repo-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-freind/test-repo-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-freind/test-repo-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-freind/test-repo-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-freind/test-repo-1/statuses/{sha}","languages_url":"https://api.github.com/repos/test-freind/test-repo-1/languages","stargazers_url":"https://api.github.com/repos/test-freind/test-repo-1/stargazers","contributors_url":"https://api.github.com/repos/test-freind/test-repo-1/contributors","subscribers_url":"https://api.github.com/repos/test-freind/test-repo-1/subscribers","subscription_url":"https://api.github.com/repos/test-freind/test-repo-1/subscription","commits_url":"https://api.github.com/repos/test-freind/test-repo-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-freind/test-repo-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-freind/test-repo-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-freind/test-repo-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-freind/test-repo-1/contents/{+path}","compare_url":"https://api.github.com/repos/test-freind/test-repo-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-freind/test-repo-1/merges","archive_url":"https://api.github.com/repos/test-freind/test-repo-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-freind/test-repo-1/downloads","issues_url":"https://api.github.com/repos/test-freind/test-repo-1/issues{/number}","pulls_url":"https://api.github.com/repos/test-freind/test-repo-1/pulls{/number}","milestones_url":"https://api.github.com/repos/test-freind/test-repo-1/milestones{/number}","notifications_url":"https://api.github.com/repos/test-freind/test-repo-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-freind/test-repo-1/labels{/name}","releases_url":"https://api.github.com/repos/test-freind/test-repo-1/releases{/id}","deployments_url":"https://api.github.com/repos/test-freind/test-repo-1/deployments","created_at":"2019-07-02T23:08:31Z","updated_at":"2019-07-02T23:08:34Z","pushed_at":"2019-07-02T23:08:32Z","git_url":"git://github.com/test-freind/test-repo-1.git","ssh_url":"git@github.com:test-freind/test-repo-1.git","clone_url":"https://github.com/test-freind/test-repo-1.git","svn_url":"https://github.com/test-freind/test-repo-1","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":194946446,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQ5NDY0NDY=","name":"test-repo-2","full_name":"test-freind/test-repo-2","private":false,"owner":{"login":"test-freind","id":50720946,"node_id":"MDQ6VXNlcjUwNzIwOTQ2","avatar_url":"https://avatars2.githubusercontent.com/u/50720946?v=4","gravatar_id":"","url":"https://api.github.com/users/test-freind","html_url":"https://github.com/test-freind","followers_url":"https://api.github.com/users/test-freind/followers","following_url":"https://api.gi[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1562175822'
      Etag:
   [...]
[...]
